<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "uw-style" %>
</head>

<body>

<%= render 'layouts/header' %>

<!-- main content -->
<main id="main">
  <div class="uw-row">
    <div class="uw-col uw-body">
      <%= yield %>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>

</body>
</html>
